<div class="container">
    <mdb-card>

        <mdb-card-header class="elegant-color-dark white-text text-center py-4">
          <h5>
            <strong>Bem Vindos</strong>
          </h5>
        </mdb-card-header>
      
      
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
      
          <p>Essa é uma demonstração de uma aplicação crud com Nestjs (que é melhor do que express), e com Angular, que é melhor do que usar EJS!</p>
      
        </mdb-card-body>
    </mdb-card>
</div>
  